<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Mr Test</h2>
      <h4>example@gmail.com</h4>
    </div>
    <img [src]="profileImage" alt="profile" />
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>เมนู</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/" class="white-text">
    หน้าหลัก</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    ไดอารี่</a
  >

  <!-- <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon></a
  > -->
</mat-nav-list>
