<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <img src="../../../../assets/images/image 3.png" class="center" width="238" height="58">
    </div>
    <!-- <img [src]="profileImage" alt="profile" /> -->
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>เมนู</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/index" class="white-text">
    หน้าหลัก</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    ข้อมูลสาขาคอมพิวเตอร์</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    Diary</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    การแจ้งเตือน/นัดหมาย</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    ข้อมูล/สถิติการแจ้งเตือนกิจกรรม</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    จัดการสมาชิก</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    ลบข้อมูล</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dairy" class="white-text">
    พิมพ์ข้อมูล</a>

  <!-- <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon></a
  > -->
</mat-nav-list>
