<div class="controllfrom">
  <div class="mat-elevation-z3">
    <div class="form-one">
      <form class="example-form">
        <div class="login__label">
          <p>REGISTER</p>
        </div>
        <div class="form">
          <label for="usernameField" class="usernamelabel label">หลักสูตร</label>
          <input type="text" placeholder="เช่น วิทยาการคอมพิวเตอร์" id="usernameField" required="required">

          <label for="usernameField" class="usernamelabel label">ชื่อ - นามสกุล</label>
          <input type="text" placeholder="สุภมาศ สุรินทะ" id="usernameField" required="required">

          <nav>
            <label for="touch"><span>ตำแหน่ง</span></label>               
            <input type="checkbox" id="touch"> 
            <ul class="slide">
              <li><a href="#">นักศึกษา</a></li> 
              <li><a href="#">อาจารย์</a></li>
              <li><a href="#">เจ้าหน้าที่</a></li>
            </ul>
          </nav> 

          <label for="usernameField" class="usernamelabel label">ชื่อผู้ใช้ (username)</label>
          <input type="text" placeholder="suphamas" id="usernameField" required="required">

          <label for="usernameField" class="usernamelabel label">รหัสผ่าน</label>
          <input type="text" placeholder="*** *** *** " id="usernameField" required="required">

          <label for="usernameField" class="usernamelabel label">ยืนยันรหัสผ่าน</label>
          <input type="text" placeholder="*** *** *** " id="usernameField" required="required">
        </div>
        <button> Button </button>

      </form>
    </div>
  </div>
</div>

<details class="dropdown">
  <summary role="button">
    <a class="button">Click on me!</a>
  </summary>
  <ul>
    <li><a href="#">I'm a dropdown.</a></li>
    <li><a href="#">In Pure CSS</a></li>
    <li><a href="#">As in...</a></li>
    <li><a href="#">No JavaScript.</a></li>
    <li><a href="#">At All.</a></li>
</ul>
</details>
