<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
	<mat-drawer mode="side" [opened]="sideBarOpen">
		<app-sidebar></app-sidebar>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500;700;900&display=swap" rel="stylesheet">
<app-footer>Footer</app-footer>


