<div class="controllfrom">
  <div class="mat-elevation-z3">
    <div class="form-one">
      <form class="example-form">
        <div class="login__label">
          <p>LOGIN</p>
        </div>
        <img src="../../../assets/images/icon_profilecircled_.png" class="center" width="150" height="150">
        <div class="form">
          <form class="login__form">
            <label for="usernameField" class="usernamelabel label">Username</label>
            <input type="text" placeholder="@" id="usernameField" required="required">

            <label for="usernameField" class="usernamelabel label">Username</label>
            <input type="text" placeholder="* * * * * * * *" id="usernameField" required="required">

           <div class="login__button">
            <button class="color-one" mat-raised-button  (click)="login()">
                REGISTER
              </button>
              
            <button mat-raised-button color="primary" (click)="login()">
                LOGIN
              </button>
              
           </div>
          </form>
        </div>

      </form>
    </div>
  </div>
</div>
